body{
    background-color: #f2f2f2;
    color: #3F5259;
}

.ref {
    font-size: 10px
}

.project{
    padding: 20px
}

.about{
    padding-top:10px;
    padding-bottom: 10px;
    text-align: center;
}

.profilePic{
    padding-top:20px;
    padding-bottom:20px;
}

.mainTheme{
     background-color:#727273;
     color: white;
}

.link{
    color: black;
    /*text-decoration: none;*/
}

.link.git:hover{
    color: #414141;
}

.link.linkedin:hover{
    color: #0a66c2;
}

.link.ig:hover{
    color: #635bdf;
}

.link.spotify:hover{
    color: #4baf50;
}