/* Color Theme Swatches in Hex */
.Niebieski-1-hex { color: #295775; }
.Niebieski-2-hex { color: #A1D5F7; }
.Niebieski-3-hex { color: #56B5F5; }
.Niebieski-4-hex { color: #4C6575; }
.Niebieski-5-hex { color: #448FC2; }

body{
    background-color: #F2F2F2;
    color: #4C6575;
}

.nav-item{
    padding-left:20px;
}

.nav-link{
    color: #4C6575;
}

.nav-link.active{
    color:#295775;
}

#about{
    padding-top:50px;

    padding-bottom: 50px;
    text-align: center;
}

#about p{
    font-size: 1.5em;
}

#about h1{
    font-size: 4.5em;
}

h2{
    font-size: 3em;
}

.profilePic{
    margin-top: 20px;
    margin-bottom: 30px;
}

.mainTheme{
     background-color:#448FC2;
     color: white;
}

.project{
    padding: 20px
}

.link{
    color: #4C6575;
    /*padding: 50px 0px;*/
    /*text-decoration: none;*/
}

.link.git:hover{
    color: #414141;
}

.link.linkedin:hover{
    color: #0a66c2;
}

.link.ig:hover{
    color: #635bdf;
}

.link.spotify:hover{
    color: #4baf50;
}

.ref {
    font-size: 10px
}